<ol class="breadcrumb">
  <li>
    <a [routerLink]="['/settings']">პარამეტრები</a>
  </li>
  <li class="active">ახალი პარამეტრის დამატება</li>
</ol>

<h1>ახალი პარამეტრის დამატება</h1>

<div class="row">
  <div class="col-sm-8">

    <div class="form-container">

      <form [formGroup]="form" (ngSubmit)="create(form.value)">
        <div class="row columns">

          <input type="hidden" formControlName="SettingId">
          <input type="hidden" formControlName="Lang">

          <label for="SettingCode">კოდი: </label>
          <input type="text" class="form-control" formControlName="SettingCode">

          <label for="SettingValue">დასახელება: </label>
          <input type="text" class="form-control" formControlName="SettingValue">
          

        </div>
        <hr/>
        <input type="submit" value="Submit" class="btn btn-primary">

      </form>
    </div>
  </div>
</div>