<h1>
  {{getParam("ADMIN_CATS")}}
</h1>

<!--
<div class="row">

  <div class="col-sm-12" style="padding:10px;">

    <div class="row" style="width:100%;">
      <div class="col-md-12">
        <div id="custom-search-input">
          <div class="input-group col-md-12">
            <input type="text" id="search" name="search" (keyup.enter)="Search(search.value)" class="form-control input-lg" placeholder="ძებნა"
              #search/>
            <span class="input-group-btn">
              <button class="btn btn-info btn-lg" type="button" (click)="Search(search.value)">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
-->
<hr/>

<div *ngIf="!categories">
    <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
</div>

<a *ngIf="categories" [routerLink]="['/categories/create']" class="btn btn-secondary btn-sm"><i class="glyphicon glyphicon-plus"></i> ახალი კატეგორიის დამატება</a>


<table class="table  table-striped" *ngIf="categories">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>დასახელება</th>
      <th>მისამართი</th>
      <th>რიგითობა</th>
      <th>მშობელი კატეგორია</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of categories">
      <th scope="row">{{category.Id}}</th>
      <td>{{category.Descrip}}</td>
      <td>{{category.Url}}</td>
      <td>{{category.SortId}}</td>
      <td>{{getParentDesc(category.ParentId)}}</td>
      <td align="right">
        <a class="btn btn-primary btn-sm"  routerLink="/categories/edit/{{category.Id}}"><i class="glyphicon glyphicon-edit"></i> რედაქტირება</a>
        <button class="btn btn-danger btn-sm" (click)="openDialog(category.Id)"><i class="glyphicon glyphicon-remove"></i> წაშლა</button>
      </td>
    </tr>
  </tbody>
</table>