<h1>
  მომხმარებლები
</h1>


<div class="row">

  <div class="col-sm-12" style="padding:10px;">

    <div class="row" style="width:100%;">
      <div class="col-md-12">
        <div id="custom-search-input">
          <div class="input-group col-md-12">
            <input type="text" id="search" name="search" (keyup.enter)="Search(search.value)" class="form-control input-lg" placeholder="ძებნა"
              #search/>
            <span class="input-group-btn">
              <button class="btn btn-info btn-lg" type="button" (click)="Search(search.value)">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<hr/>

<div *ngIf="!users">
    <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
</div>

<a *ngIf="users" [routerLink]="['/users/create']" class="btn btn-secondary btn-sm"><i class="glyphicon glyphicon-plus"></i> ახალი მომხმარებლის დამატება</a>


<table class="table  table-striped" *ngIf="users">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>მომხმარებელი</th>
      <th>ელ-ფოტა</th>
      <th>სახელი</th>
      <th>გვარი</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <th scope="row">{{user.UserId}}</th>
      <th>{{user.UserName}}</th>
      <th>{{user.Email}}</th>
      <th>{{user.FirstName}}</th>
      <th>{{user.LastName}}</th>
      <td align="right">
        <a class="btn btn-primary btn-sm"  routerLink="/users/edit/{{user.UserId}}"><i class="glyphicon glyphicon-edit"></i> რედაქტირება</a>
        <button class="btn btn-danger btn-sm" (click)="openDialog(user.UserId)"><i class="glyphicon glyphicon-remove"></i> წაშლა</button>
      </td>
    </tr>
  </tbody>
</table>