<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">სამართავი პანელი
                <sup style="color:#4189C7;">bondx group</sup>
            </a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span>{{getParam("ADMIN_MAIN")}}
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/cars']">
                        <span class='glyphicon glyphicon-th-list'></span> {{getParam("ADMIN_CARS")}}
                    </a>
                </li>

                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/file-manager']">
                        <span class='glyphicon glyphicon-camera'></span> {{getParam("ADMIN_FILE_MANAGER")}}
                    </a>
                </li>

                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/categories']">
                        <span class='glyphicon glyphicon-menu-hamburger'></span> {{getParam("ADMIN_CATS")}}
                    </a>
                </li>

                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/pages']">
                        <span class='glyphicon glyphicon-list-alt'></span> {{getParam("ADMIN_PAGES")}}
                    </a>
                </li>

                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/settings']">
                        <span class='glyphicon glyphicon-wrench'></span> {{getParam("ADMIN_SETTINGS")}}
                    </a>
                </li>


            </ul>
        </div>

        <div class='clearfix'></div>
        <div class='navbar-footer'>
            <div class="sep">

            
            <ul class="lang-switcher lang-switcher--rounded-pill">
                <li>
                    <a href="!#" class="{{isActive('ge')}}" (click)="ChangeLang('ge')">GE</a>
                </li>
                <li>
                    <a href="!#" class="{{isActive('en')}}" (click)="ChangeLang('en')">EN</a>
                </li>
                <li>
                    <a href="!#" class="{{isActive('ru')}}" (click)="ChangeLang('ru')">RU</a>
                </li>
            </ul>
        </div>  
        </div>
    </div>
</div>